<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BUS.Properties.Settings.DB_DRUGSTOREConnectionString"
            connectionString="Data Source=MINIKAZE;Initial Catalog=DB_DRUGSTORE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>